<div class="items">
  <div class="container">
    <div class="items-sec">
      <% for product in home_products(limit: 6).shuffle.first(4) do %>
        <%= render partial: 'home/product', locals: {product: product} %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
